input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.1px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #23afcf;
  border-radius: 25px;
  border: 0.3px solid #007fff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0.8px solid #000000;
  height: 17px;
  width: 42px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #30bcdc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #23afcf;
  border-radius: 25px;
  border: 0.3px solid #007fff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0.8px solid #000000;
  height: 17px;
  width: 42px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #1f9db9;
  border: 0.3px solid #007fff;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #23afcf;
  border: 0.3px solid #007fff;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0.8px solid #000000;
  height: 17px;
  width: 42px;
  border-radius: 11px;
  background: #ffffff;
  cursor: pointer;
  height: 6.8px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #23afcf;
}
input[type=range]:focus::-ms-fill-upper {
  background: #30bcdc;
}
